<div class="container" >
<br>
<h4>Login</h4>

<div class="row">
<div class="col-6">
<label>Usuário: </label>
<input type="text" class="form-control" placeholder="Usuário" [(ngModel)]="usuario.nome">
</div>
</div>

<br>

<div class="row">
<div class="col-6">
<label>Senha: </label>
<input type="password" class="form-control" placeholder="Senha" [(ngModel)]="usuario.senha">
</div>
</div>

<br>
<br>
<button type="submit" class="btn btn-primary" (click)="fazerLogin()">Entrar</button>
<br>
<br>

</div>



